<div class="container">
	<h3 class="display-5 text-center">Aggregate Functions</h3>
	<table class="table table-bordered table-striped table-sm">
		<thead>
			<tr>
				<th> Min Age </th>
				<th> Max Age </th>
				<th> Total Age </th>
				<th> Average Age </th>
				<th> Total Heroes </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@ViewBag.MinAge</td>
				<td>@ViewBag.MaxAge</td>
				<td>@ViewBag.SumAge</td>
				<td>@ViewBag.AvgAge</td>
				<td>@ViewBag.Count</td>
			</tr>
		</tbody>
	</table>
</div>


