@model IEnumerable<GenZRevolutionBD.Models.Power>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-sm">Create New</a>
</p>
<table class="table table-bordered table-striped table-sm table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PowerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PowerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PowerId" class="btn btn-outline-secondary btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PowerId" class="btn btn-outline-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PowerId" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
