@model IEnumerable<GenZRevolutionBD.Models.SuperHero>

@{
    ViewData["Title"] = "Index";
}
<div class="mb-2">
    <h1 class="display-5 text-center">SuperHero List</h1>
</div>

<div class="row">
    <div class="col">

        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary btn-sm mb-2" asp-action="Create" asp-controller="SuperHeroes">Add New Hero</a>
        </div>

        @foreach (var item in Model)
        {
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <img src="@item.Picture" width="35" class="rounded-circle" />
                        <b>SuperHero Name : </b>@Html.DisplayFor(x => item.SuperHeroName)
                        <b>Date of Death : </b>@(item.DateOfDeath.ToString("yyyy-MM-dd"))
                        <b>Age : </b>@Html.DisplayFor(x => item.Age)
                        
                    </div>

                    <div>
                        <a class="btn btn-outline-success btn-sm m-2" asp-action="Edit" asp-controller="SuperHeroes" asp-route-id="@item.SuperHeroId">Edit</a>
                        <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-controller="SuperHeroes" asp-route-id="@item.SuperHeroId">Delete</a>
                    </div>
                </div>

                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Power Id</th>
                                    <th>Powers</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in item.SuperPower)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(x => i.PowerId)</td>
                                        <td>@Html.DisplayFor(x => i.Power.PowerName)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
               

            </div>
        }

    </div>
</div>
